pkgbase = robominer
	pkgdesc = Online programming game: code robots to mine efficiently
	pkgver = 1.1.2
	pkgrel = 1
	url = https://github.com/arnoudja/RoboMinerRs
	install = robominer.install
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	makedepends = rust
	makedepends = cargo
	depends = systemd
	optdepends = mariadb: host database (supported with MariaDB 10.11+)
	optdepends = mariadb-clients: mysql client for applying gameData.sql
	optdepends = docker: optional MySQL 8.4 container instead of host MariaDB
	optdepends = python: parse ROBOMINER_DATABASE_URL when applying gameData.sql
	options = !lto
	options = !debug
	source = robominer-1.1.2.tar.gz::https://github.com/arnoudja/RoboMinerRs/archive/4adc07c254f90f49c7d18c66af999d9e61374a57.tar.gz
	sha256sums = SKIP

pkgname = robominer
